<% provide(:title, "Sessions") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Speaker Admin</title>
  </head>
  <body>
    <h1>Speaker Admin</h1>
    <p>
      Sessions
    </p>
  </body>
</html>
