<div class="">
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
  <span style="display:inline-block"><h2><%= current_user.name %></h2></span>

</div>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.sessions.count, "session") %></span>
